<section class="register-login mx-3">
  <app-offcanvas-login></app-offcanvas-login>
    <div class="container">
      <div class="row text-dark mt-10">
        <div class="col-9 mx-auto">
          <div class="row">
            <div class="col-12 text-center mb-4">
              <h2 class="fw-bold text-black">Password reset sent!</h2>
              <p class="fs-xl">Check your email for a link to reset your password.</p>
            </div>
            <div class="col-md-6 mx-auto">
              <div class="mb-3 mt-3 text-center">
                <label class="fs-lg fw-medium text-center">
                  Remember password? <span routerLink="['/login']" routerLinkActive="router-link-active"
                    class="text-primary cursor"> Sign in here. </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
