<!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLiveLabel">Video Series Details</h5>
    <button type="button" class="btn-close text-muted" data-bs-dismiss="modal" aria-label="Close"
      (click)="modalService.dismissAll('Close click')">
    </button>
  </div> -->
<div class="modal-body addedit_tagger_modal">
  <form [formGroup]="taggerDetailsForm">
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="row my-5">
              <div class="col-12 text-center mb-3">
                <img src="{{taggerData?.profilePicture || 'assets/images/user/avatar-1.jpg'}}"
                  class="rounded-circle add-edit-image" alt="image" />
              </div>
              <div class="col-12 text-center mb-3">
                <p for="Tagger" class="fw-medium" *ngIf="taggerDetailsForm.controls['firstName'].value">{{taggerDetailsForm.controls['firstName'].value + ' ' + taggerDetailsForm.controls['lastName'].value}}</p>
                <p class="text-gray">Tagger</p>
              </div>
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                  <p class="text-muted average_score mb-0">Average TopVZot Score</p>
                  <span
                    class="badge text-bg-warning fw-bold fs-xxl ms-3">{{taggerData?.TaggerTagsCount?.averageVzotScore}}</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row my-3">
              <div class="col-lg-6 mb-3 status_field">
                <label class="text-gray mb-3">Status</label>
                <!-- //formControlName remaining -->
                <select class="form-select form-select-sm" formControlName="status" id="exampleFormControlSelect1">
                  <option disabled class="bg-light">Select Status</option>
                  <option [value]="3" [style.color]="onboardingColor">Onboarding</option>
                  <option [value]="1" [style.color]="activeColor">Active</option>
                  <option [value]="2" [style.color]="inactiveColor">Inactive</option>
                </select>
              </div>
              <div class="col-lg-6 mb-3 status_field align-self-end text-end">
                <!-- <label class="text-muted">Status</label> -->
                <!-- <input formControlName="lastName" placeholder="Enter last name" class="form-control no outline"
                                      type="text" id="example-text-input"> -->
                <button type="button" class="btn btn-primary btn-sm"> View Tagging Activity </button>
              </div>
              <div class="col-lg-6 mb-2">
                <i class="bi bi-envelope text-gray"></i>
              </div>
              <div class="col-lg-6 mb-2 text-end">
                <p>demo@sample.com</p>
              </div>
              <div class="col-lg-6 mb-2">
                <i class="bi bi-telephone text-gray"></i>
              </div>
              <div class="col-lg-6 mb-2 text-end">
                <p>(+99) 9999 999 999</p>
              </div>
              <div class="col-lg-6 mb-2">
                <i class="bi bi-geo-alt text-gray"></i>
              </div>
              <div class="col-lg-6 mb-2 text-end">
                <p>Boston, MA</p>
              </div>
              <div class="col-lg-6 mb-2">
                <i class="bi bi-link-45deg text-gray fs-xxl"></i>
              </div>
              <div class="col-lg-6 mb-2 text-end">
                <p [style.color]="onboardingColor">www.contxtual.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="row mt-3">
          <div class="col-12">
            <div class="card-title mb-0 fw-meidum fs-xl">
              Add/Edit Annotator Details
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray" class="text-gray">First Name</label>
            <input formControlName="firstName" placeholder="Enter first name" class="form-control no-outline"
              type="text" id="example-text-input">
          </div>
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray" class="text-gray">Last Name</label>
            <input formControlName="lastName" placeholder="Enter last name" class="form-control no outline" type="text"
              id="example-text-input">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray">Email</label>
            <input formControlName="email" placeholder="Enter email" class="form-control no-outline" type="text"
              id="example-text-input">
          </div>
          <div class="col-lg-6 mt-2">

            <label for="example-text-input" class="text-gray">Telephone</label>
            <input formControlName="phoneNo" placeholder="Enter Telephone No." class="form-control no outline"
              type="text" id="example-text-input">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray">Address</label>
            <input formControlName="address" placeholder="Enter address" class="form-control no-outline" type="text"
              id="example-text-input">
          </div>
          <div class="col-lg-6 mt-2">

            <label for="example-text-input" class="text-gray">City</label>
            <input formControlName="city" placeholder="Enter city" class="form-control no outline" type="text"
              id="example-text-input">

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray">State</label>
            <input formControlName="state" placeholder="Enter state" class="form-control no-outline" type="text"
              id="example-text-input">
          </div>
          <div class="col-lg-6 mt-2">

            <label for="example-text-input" class="text-gray">Zip Code</label>
            <input formControlName="zipCode" placeholder="Enter zip-code" class="form-control no outline" type="text"
              id="example-text-input">


          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 mt-2">
            <label for="example-text-input" class="text-gray">Country</label>
            <div class="btn-group" ngbDropdown>
              <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button"
                ngbDropdownToggle>  {{ taggerDetailsForm?.value?.country || 'Select a country' }}
                <i class="bi bi-caret-down-fill ms-2 fs-10"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" *ngFor="let country of countries" (click)="onCountryChange(country)">
                  {{country?.name}}
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-2">

            <label for="example-text-input" class="text-gray">Date Started</label>
            <input formControlName="dateStarted" class="form-control no outline" type="date" id="example-text-input">


          </div>
        </div>
        <hr>
        <div class="col-12">

          <p class="fw-medium">Notes</p>
          <input formControlName="notes" placeholder="Enter notes" class="form-control no outline" type="text"
          id="example-text-input">


        </div>

      </div>

    </div>
    <!-- <div class="text-right justify-content-end mb-3">
                  <button type="button" routerLink="/videos" class="btn" style="background-color: rgb(199, 196, 196);" > Cancel
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-primary text-center"> Add new Movie </button>
              </div> -->




  </form>
</div>
<div class="modal-footer ">
  <button type="button" class="text-danger btn border-0 bg-transparent" (click)="closeModal()">Cancel</button>
  <button type="button" class="btn btn-primary ms-3" (click)="submit()"> Add/Update </button>
</div>