@import './../../../../../assets/scss/variables.scss';

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  --bs-nav-tabs-border-width: 0px;
  padding: 2px;
  //align-self: stretch;
  //flex-wrap: wrap;


  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    a.disabled {
      pointer-events: none; /* Prevent clicking */
      color: #6C707B; /* Gray out the link */
      cursor: not-allowed; /* Show a not-allowed cursor */
    }
    

    .nav-link {
      display: flex; /* Use flexbox to center content */
      justify-content: center; /* Center text horizontally */
      align-items: center; /* Center text vertically */
      height: 100%;
      width: 100%;
      font-size: medium;
      color:#6C707B;
      font-weight: 400;

      border: 0px;
      &:hover {
        color: white;
      }

      &:focus {
        color: white;
        
      }

      &:focus-visible {
        
        color: white;
        
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {

      
      background: transparent;
      border: 0px;
      color: white;
     
    }
  }


/* Media query for smartphones */

@media (max-width: 768px) {
  .nav-item {
    height: 10vh;
    padding: 0.2vh;
    justify-content: center;
    //flex: 1 0 0;
    color: white;
    align-items: center; /* Center vertically */
    text-align: center;
    

    .nav-link {
      display: flex; /* Use flexbox to center content */
      justify-content: center; /* Center text horizontally */
      align-items: center; /* Center text vertically */
      height: 100%;
      width: 100%;
      border-radius: 4px;
      background: var(--Button-Gradient, linear-gradient(180deg, #393E4C 0%, #171A22 100%));
     // align-items: center;
      /* drop-shadow / button-primary */
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
      font-size: smaller;

      &:hover {
        color: white;
        border: 1px solid var(--Light-Gold, #FAAD14);
      }

      &:focus {
        color: white;
        border: 1px solid var(--Light-Gold, #FAAD14);
      }

      &:focus-visible {
        outline: 0;
        color: white;
        border: 1px solid var(--Light-Gold, #FAAD14);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-radius: 4px;
      border: 5px solid var(--Light-Gold, #FAAD14);
      background: var(--Button-Gradient, linear-gradient(180deg, #393E4C 0%, #171A22 100%));
      color: white;
      /* drop-shadow / button-primary */
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    }
  }
}
}

.card {
  border-radius: 0;

  .card-img-top {
    border-radius: 0;
    height: 250px;
    object-fit: cover;
  }

  i.bi-heart-fill {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1rem;
    color: $heart-color;
  }

  i.bi-badge-ad-fill {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    color: $wishlist-gray;
  }

  .list-group-item {
    color: $wishlist-gray;
    background-color: $background-list-group-item;
    padding: 12px 16px;

    .featured-img {
      img {
        height: 65px;
        width: 115px;
        min-width: 115px;
        object-fit: cover;
      }
    }

    // p {
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   white-space: nowrap;
    // }

    .linked-img {
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.input-group-text {
  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 0.375rem;
  border-right: none !important;

  i {
    color: $text-gray;
  }
}

input.form-control {
  background: transparent;
  border-radius: 6px;
  box-shadow: none;
  border-left: none !important;
  border: 1px solid $border-color;
}

hr {
  margin: 1rem 0;
  color: #B3B9BE;
  opacity: 1;
}
