
.metrics-container {
    display: flex; /* Changed to flex for better control in this context */
    flex-direction: row; /* Stack the groups vertically */
    justify-content: space-around;
  }
  
  /* Styling for each group */
  .metrics-group {
    
    display: grid; /* Use grid layout for label-input pairs */
    grid-template-columns: auto 1fr; /* Auto width for label, remaining space for input */
    gap: 8px; /* Gap between label and input */
    align-items: center; /* Center align the items vertically */
  }
  
  /* Styling for labels */
  label {
    display: block; /* Make label take the full width */
    margin-bottom: 8px; /* Space below the label */
    color: #333; /* Label text color */
    font-size: small; /* Label font size */
  }


.my-label{
    color: #262626;
    font-size: small;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
  }
  /* Styling for inputs */
input[type="text"] {
    max-width: 170px;
    padding: 8px; /* Padding inside the input */
    margin-bottom: 16px; /* Space below the input */
    border-radius: 2px;
    border: 1px solid var(--day-5, #D9D9D9);
    background: var(--day-1, #FFF);
    text-align: right;
  }

  input[type="number"] {
    max-width: 170px;
    padding: 8px; /* Padding inside the input */
    margin-bottom: 16px; /* Space below the input */
    border-radius: 2px;
    border: 1px solid var(--day-5, #D9D9D9);
    background: var(--day-1, #FFF);
    text-align: right;
  }
  
 .input-group-text{
  background-color: azure !important;
  color: #262626 !important;
  border-color: #333;
 }

 .symbol{
  padding: 8px;
 }
  
  @media (max-width: 900px) {
    .metrics-container {
      flex-direction: column;
      
    }
  
    .metrics-group {
    
    
      grid-template-columns: 0.4fr 1fr; 
  
    }
  }