<!-- slect advisor modal  -->
<!-- <cdk-modal-dialog> -->
<!-- Modal -->
<div class="modal modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-medium">
    <div class="modal-content">
      <!-- <ng-content></ng-content> -->
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Select Advertisers & Set Accuracy Thresholds</h1>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheck">
            <label class="form-check-label fs-lg" for="flexCheck">
              Global Accuracy
            </label>
          </div>
          <div class="range d-flex ms-2 align-items-center">
            <input type="range" min="1" max="100" value="0" class="slider">
            <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                GROCERRY & DRUGS
              </label>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="50" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="25" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheck">
                department stores
              </label>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="50" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="25" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="25" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                HOUSEHOLD
              </label>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="25" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="50" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheck" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheck">
                Specialty
              </label>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck" checked>
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="25" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck" checked>
                <label class="form-check-label fs-md" for="flexCheckChecked">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="50" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label fs-md" for="flexCheck">
                  Amazon Food
                </label>
              </div>
              <div class="range d-flex ms-2 align-items-center">
                <input type="range" min="1" max="100" value="0" class="slider">
                <label for="customRange1" class="form-label mb-0 fs-md ms-2 text-light">97.5%</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark w-100">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal data set -->
<div class="modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-small">
    <div class="modal-content actor">
      <div class="modal-header d-block">
        <h1 class="modal-title" id="exampleModalLabel">Select Data Set</h1>
        <p class="fs-lg text-light mb-0">Choose data set(s) to search for Proxy Images</p>
      </div>
      <div class="modal-body">
        <div class="align-items-center d-flex form-check justify-content-between ps-0 mb-2">
          <label class="form-check-label fs-md text-dark" for="flexCheckChecked">
            Google Image Search
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        </div>
        <div class="align-items-center d-flex form-check justify-content-between ps-0 mb-2">
          <label class="form-check-label fs-md text-dark" for="flexCheckChecked">
            Macys Data Feed
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        </div>
        <div class="align-items-center d-flex form-check justify-content-between ps-0 mb-2">
          <label class="form-check-label fs-md text-dark" for="flexCheckChecked">
            Gap Data Feed
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        </div>
        <div class="align-items-center d-flex form-check justify-content-between ps-0 mb-2">
          <label class="form-check-label fs-md text-dark" for="flexCheckChecked">
            Pinterest
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        </div>
        <button type="button" class="btn btn-dark w-100 mt-3">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal proxy -->
<div class="modal" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-small">
    <div class="modal-content actor">
      <div class="modal-header d-block">
        <h1 class="modal-title" id="exampleModalLabel">Filter Scenes</h1>
      </div>
      <div class="modal-body">

        <div class="align-items-center d-flex mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label mb-0 me-3">Select scene number:</label>
          <input type="email" class="form-control w-25" id="exampleFormControlInput1" placeholder="Enter">
        </div>
        <hr>
        <div class="align-items-center d-flex mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label mb-0 me-3">Select range
            between:</label>
          <input type="email" class="form-control w-25" id="exampleFormControlInput1" placeholder="Enter">
          <label for="exampleFormControlInput1" class="form-label form-label mb-0 me-3 ms-3">and</label>
          <input type="email" class="form-control w-25" id="exampleFormControlInput1" placeholder="Enter">
        </div>
        <hr>
        <div class="align-items-center d-flex mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label mb-0 me-3">Select scene number:</label>
          <input type="email" class="form-control w-25" id="exampleFormControlInput1" placeholder="Enter">
        </div>
        <hr>
        <div class="align-items-center d-flex mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label mb-0 me-3">Select scene number:</label>
          <input type="email" class="form-control w-25" id="exampleFormControlInput1" placeholder="Enter">
        </div>
        <button type="button" class="btn btn-dark w-100 mt-3">Enter</button>
      </div>
    </div>
  </div>
</div>

<!-- slect advisor modal  -->
<div class="modal player-modal" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-large">
    <div class="modal-content actor">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Select Advertisers & Set Accuracy Thresholds</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                GROCERRY & DRUGS
              </label>
            </div>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                DEPARTMENT STORES
              </label>
            </div>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                HOUSEHOLD
              </label>
            </div>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-light text-uppercase" for="flexCheckChecked">
                SPECIALITY
              </label>
            </div>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-md text-dark" for="flexCheck">
                Amazon Food
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal suggesstion -->
<div class="modal" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-small">
    <div class="modal-content actor">
      <div class="modal-header d-block">
        <h1 class="modal-title" id="exampleModalLabel">Send Message/Suggestion to Admin </h1>
        <p class="text-light fs-lg my-2">Suggest feature updates, request new Helper Subcategories and/or report
          problems here.</p>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
            placeholder="Write message"></textarea>
        </div>
        <button type="button" class="btn btn-dark w-100 mt-3">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content actor">
      <div class="modal-header justify-content-start">
        <h1 class="modal-title" id="exampleModalLabel">Assign Actor</h1>
      </div>
      <div class="modal-body">
        <div class="align-items-center d-flex">
          <div class="img-wrapper none">
            <span class="d-flex fs-sm p-2 text-center text-light">None</span>
          </div>
          <div class="w-100">
            <div class="align-items-center d-flex justify-content-between ms-3 my-4">
              <p class="mb-0 fst-italic fs-md">None</p>
              <button type="button" class="btn btn-dark btn-sm"
                (click)="actorSelect('None','None',null)">Assign</button>
            </div>
            <hr class="ms-3">
          </div>
        </div>
        <div class="align-items-end d-flex" *ngFor="let actor of allActors">
          <div class="img-wrapper">
            <img src={{actor.imageUrl}}>
          </div>
          <div class="w-100">
            <div class="align-items-center d-flex justify-content-between ms-3 my-center">
              <p class="mb-0 fst-italic fs-md">{{actor.name}}</p>
              <button type="button" class="btn btn-dark btn-sm"
                (click)="actorSelect(actor.name,actor.imageUrl,actor.id)">Assign</button>
            </div>
            <hr class="ms-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->