<div class="d-flex align-items-center justify-content-between">
  <h5 class="mb-4">Average VZoT Score</h5>

  <div class="d-flex justify-content-between">
    <ul class="average_vzot" >
      <li *ngFor="let filter of filters;" [ngClass]="{ active: filter === selectedFilter }"><a  (click)="filterData(filter)">{{filter}}</a></li>
    </ul>
  </div>
</div>
<div class="card bg-white text-black" *ngIf="averageVzotScoreChart?.series">
  <div class="card-body">
    <apx-chart [series]="averageVzotScoreChart.series" [chart]="averageVzotScoreChart.chart"
      [dataLabels]="averageVzotScoreChart.dataLabels" [colors]="area_colors" [stroke]="averageVzotScoreChart.stroke"
      [xaxis]="averageVzotScoreChart.xaxis" [tooltip]="averageVzotScoreChart.tooltip" [fill]="averageVzotScoreChart.fill"></apx-chart>
  </div>
</div>