::ng-deep .autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  /* margin: 6px; */
  box-shadow: none;
  outline: none;
  background-color: #15273c !important;
  color: #ffffffde !important;
  width: 50% !important;
  border-radius: 5px;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #285386 !important;
}

::ng-deep .autocomplete-container .suggestions-container {
  position: absolute;
  width: 50% !important;
  border-radius: 5px;
  background: #15273c !important;
  height: auto;
  color: #fff !important;
  box-shadow: none !important;
  box-sizing: border-box;
  right: 14px;
}

::ng-deep .autocomplete-container {
  box-shadow: none !important;
  position: relative;
  overflow: visible;
  height: 40px;
}



::ng-deep .autocomplete-container .suggestions-container {
  position: absolute;
  width: 94%;
  border-radius: 5px;
  background: #15273c !important;
  height: auto;
  color: #fff !important;
  box-shadow: none;
  box-sizing: border-box;
}

::ng-deep .autocomplete-container .suggestions-container ul li {
  position: relative;
  list-style: none;
  padding: 0;
  color: #fff !important;
  margin: 0;
  cursor: pointer;
}

::ng-deep .autocomplete-container .suggestions-container ul li a {
  padding: 14px 15px;
  display: block;
  text-decoration: none;
  color: #fff !important;
  cursor: pointer;
  /* color: #000000de; */
  font-size: 15px;
}

::ng-deep .autocomplete-container .not-found {
  padding: 0 0.75em;
  border: 1px solid #285386 !important;
  background: #15273c !important;
  width: 50% !important;
  color: #fff;
  border-radius: 3px;
  right: 14px;
  position: absolute;
}

::ng-deep .autocomplete-container .not-found div {
  padding: 0.4em 0;
  font-size: .95em;
  line-height: 1.4;
  border-bottom: none !important;
}

::ng-deep  .autocomplete-container .input-container .x {
    right: 24px !important;
    top: 87% !important;
}

::ng-deep  .autocomplete-container .input-container .x i {
    color: #ffffff !important;
    font-size: 16px !important;
}

@media (max-width: 576px) {
  ::ng-deep .ng-autocomplete {
    width: 265px !important;
  }
}
