.mb-0 {
  margin-bottom: 0px !important;
}

h6 {
  font-family: 'Inter', sans-serif;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

// .card{
//     .card-body{
//         padding: 1.1rem;
//     }
//   }
