.shopping-header {
  color: var(--WHITE, #FFF);
  align-items: center;
  padding-top: 5%;
  margin-top: 50px;
}

.email-container {
  margin-top: 5vh;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
}

.my-email-header {
  color: var(--Header-Black-27272E, #27272E);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}

.email-img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #546979;
  align-items: center;
  justify-content: center;
}

.line-email {
  height: 1px;
  background-color: #C7C8D0;
  width: 100%;
}

.cards-container {
  bottom: 5vh;
  min-height: 90vh;
  display: flex;
  margin: 30px 30px 40px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  background: #161D33;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 4px;
}

.email-header {
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 2%;
}

.email-subheader {
  color: var(--x-text-medium, #6F6F6F);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.masonry-item {
  max-height: auto;
  width: 21%;
  margin-bottom: 16px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 0px;
}

@media (max-width: 865px) {
  .masonry-item {
    width: 88%;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-height: auto;
  }
}
@media (min-width: 865px) and (max-width: 1200px) {
  .masonry-item {
    width: 43%;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-height: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1700px) {
  .masonry-item {
    width: 29%;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-height: auto;
  }
}
@media (min-width: 1700px) and (max-width: 2000px) {
  .masonry-item {
    width: 22%;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-height: auto;
  }
}
/*
.masonry-grid {
  column-count: 3; 
  column-gap: 16px;
  width: 100%;
  //padding-left: 50px;
}

.masonry-grid-item {
  break-inside: avoid;
  margin-bottom: 16px; 
  margin-inline-start: 0px;
  object-fit: contain;
  overflow: visible;
}
*/
/* Optional: Adjust the number of columns at different screen widths */
@media (max-width: 1200px) {
  .masonry-grid {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 768px) {
  .masonry-grid {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.card {
  border-top-left-radius: 4px; /* Top left corner */
  border-top-right-radius: 4px; /* Top right corner */
  border-bottom-right-radius: 4px; /* Bottom right corner */
  border-bottom-left-radius: 4px;
  border-color: #141D35;
}
.card .card-img-top {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 500px;
}
.card i.bi-heart-fill {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  color: #FF808B;
}
.card i.bi-badge-ad-fill {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  color: #8C8C8C;
}
.card .list-group-item-below {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3F4450;
  border-color: #141D35;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.card .featured-img-container, .card .text-container {
  flex: 0 0 50%; /* Each container takes half the width */
  align-items: center;
}
.card .featured-img-container {
  padding: 0px; /* Adjust as necessary */
}
.card .text-container {
  padding-left: 5px; /* Adjust as necessary */
}
.card .featured-img-container img {
  width: 100%; /* Make image take full width of its container */
  height: auto; /* Maintain aspect ratio */
}
.card .list-group-item {
  color: #8C8C8C;
  padding: 12px 16px;
  background-color: #F1F0EE;
}
.card .list-group-item .linked-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .list-group-item .series-episode-and-date {
  color: #807E81;
  margin: 0px;
  padding-bottom: 0px;
}
.card .actor {
  float: inline-start;
  position: absolute;
  left: -10px;
  z-index: 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .actor-circle {
  width: 64px;
  height: 64px;
  border-radius: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #E2E5EB;
}

.paragraph-below {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #8c8c8c;
  font-size: small;
}

.input-group-text {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  border-right: none !important;
}
.input-group-text i {
  color: #807E81;
}

input.form-control {
  background: transparent;
  border-radius: 6px;
  box-shadow: none;
  border-left: none !important;
  border: 1px solid #ced4da;
}

hr {
  margin: 1rem 0;
  color: #B3B9BE;
  opacity: 1;
}

@media (min-width: 1400px) {
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 1600px) {
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
.semi-bold {
  font-weight: 600;
}

.series-name-color {
  color: #DBDBDB;
}

.retailer-name-color {
  color: #4C4C4C;
}

i.bi-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  color: #FF808B;
}

i.bi-heart-fill {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  color: #FF808B;
}

.empty-wishlist-header {
  font-size: 36px;
  text-align: center;
  color: white;
  padding-top: 60px;
}

.empty-wishlist-subheader {
  font-size: 20px;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.empty-wishlist-image {
  width: 700px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
  justify-content: center;
}

.empty-wishlist-container {
  display: flex;
  align-items: center; /* Vertically centers the child elements */
  justify-content: center; /* Horizontally centers the child elements */
  flex-direction: column;
}/*# sourceMappingURL=emails.component.css.map */