.btn-close{
    top: 15px;right: 15px; 
}

.card{
    background-color:rgb(247, 244, 244)
}

// .card.notesbody {
//     max-height: 400px;
//     overflow: auto;
// }
.notesbody{
    background: #FAFAFA;
    // padding: 0rem 1rem;
}
.modal-body{
    max-height: 400px;
    overflow: auto;
}
