<div class="card user-activity-card card-height scroll">
  <div class="card-header header-bg d-flex align-items-center justify-content-between">
    <h5>Trending Actors</h5>
  </div>
  <div class="card-body" scrollTracker (scrolled)="onScrollEnd($event)">
    <div class="row mb-4 d-flex align-items-center justify-content-between" *ngFor="let actor of trendingActors">
      <div class="col-auto p-r-0">
        <div class="u-img" (click)="setActor(actor)">
          
          <img [src]=" actor.imageUrl??'assets/images/user/avatar-3.jpg'" alt="user image" height="50px" class="img-radius cover-img" />
        </div>
      </div>
      <div class="col" (click)="setActor(actor)">
        <div class="d-flex align-items-center justify-content-between">
          <a href="javascript:!">
            <h5 class="mb-0">{{actor.name}}</h5>
          </a>
          <div class="text-end">
            <div class="d-flex align-items-center">
              <p class="text-muted text-sm mb-0"> {{actor.likes}}</p>
              <i class="text-muted fa fa-heart ms-1 fs-10"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card bg-white text-black card-height scroll">
    <div class="card-header header-bg ">Most Active Users</div>
    <div *ngFor="let user of users" class="d-flex justify-content-between px-3 pt-3">
        <div class="d-flex ">
            <div class=" d-flex align-items-center">{{user.pfp}}</div>
            <div class="mx-2">
                <div>{{user.name}}</div>
                <div class="text-secondary small">{{user.companyName}}</div>
            </div>
        </div>
        <div class="text-muted">
            {{user.impressions}}
        </div>
    </div>
</div> -->
