.card-body {

  overflow-x: hidden;
  overflow-y: scroll;

  h5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-word
  }
}

.card-height {

  height: 442px;
}

.header-bg {

  background-color: #FAFAFA;
}
