<div class="header-bg mytasks_wrap">

  <div class="d-flex align-items-center justify-content-between p-4 pb-0">
    <h5>My Tasks</h5>
    <button class="btn btn-outline-primary" (click)="resetFilters()">Reset</button>
  </div>
  <div class="row p-3 pb-0">
    <!-- [ sample-page ] start -->
    <div class="col-md-6 col-xl-3" *ngFor="let widget of widgets;let i = index">
      <div class="card cursor-pointer {{ widget.background }} h-{{widget.height}}"
        [ngClass]="widget.active? widget.border[1]:widget.border[0]" (click)="filterScenes(i)">

        <div class="card-body p-3 mt-0 d-flex justify-content-between align-items-center">

          <div>
            <h4 class="mb-0" [ngClass]="{' text-danger':i<=1,'text-primary':i===2}">

              {{ widget.amount }}
              <!-- <span class="badge {{ task.background }} border {{ task.border }} "><i class="{{ task.icon }}"></i> {{ task.percentage }}</span> -->
            </h4>



            <p class="mb-0 text-muted text-sm overflow" placement="bottom">
              {{widget.content}}
            </p>
          </div>


          <div>
            <i *ngIf="i===0" class="bi bi-exclamation-triangle icon-tabler"></i>

            <i *ngIf="i===1" class="bi bi-list-check icon-tabler"></i>

            <i *ngIf="i===2" class="bi bi-clock-history icon-tabler"></i>

            <i *ngIf="i===3" class="bi bi-exclamation-triangle icon-tabler"></i>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="card border-top-0">
    <div class="card-body header-bg pt-0">
      <div class="table-responsive">

        <table class="table row-border table-hover">
          <thead>
            <tr>
              <th class="w_20"></th>
              <th *ngFor="let heading of tableHeadings; let i = index">
                <div class="d-flex align-items-center">{{heading}}
                  <span class='d-inline-block'>
                    <div (click)="sort(i,1)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                        [attr.fill]="sortOrder[i]=='ASC'?'#676464': '#C9C9C9'" class="bi bi-caret-up-fill"
                        viewBox="0 0 16 16">
                        <path
                          d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                      </svg>
                    </div>
                    <div (click)="sort(i,2)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                        [attr.fill]="sortOrder[i]=='DESC'?'#676464': '#C9C9C9'" class="bi bi-caret-down-fill"
                        viewBox="0 0 16 16">
                        <path
                          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                      </svg>
                    </div>
                  </span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>

            <tr *ngIf="loader">
              <td colspan="10" class="text-center">
                <div class="spinner-border text-primary " role="status">

                </div>
              </td>
            </tr>

            <tr *ngIf="tableListingData.length===0 && loader===false; else tableData">
              <td class="text-muted td_heading text-center" colspan="10">No Record Found</td>
            </tr>
            <ng-template #tableData>
              <tr *ngFor="let scene of tableListingData;let i = index">

                <td>
                  <button type="button" class="btn dropdown-toggle d-flex p-0"
                    (click)="routeToAnnotator(scene?.Show?.id || scene?.Scene?.Show?.id,scene?.Scene?.id || scene.id)">
                    <i class="far fa-eye text-muted"></i>
                  </button>
                </td>
                <td *ngIf="this.selectedFilter==0" class="text-muted td_heading">
                  {{scene?.prId}}</td>
                <td *ngIf="this.selectedFilter!=0" class="text-muted td_heading">
                  {{scene?.sceneId?scene?.sceneId:scene?.Scene?.sceneId}}</td>
                <!-- <td *ngIf="showProductRecords"class="text-muted td_heading">{{scene?.product_id}}</td> -->

                <td *ngIf="showProductRecords===true">
                  <div class="imgbox cursor-pointer">
                    <img src={{scene?.proxyImage}} alt="No Product">
                  </div>
                </td>
                <td>
                  <div class="imgbox cursor-pointer">
                    <img [src]="scene.thumbnail ? scene.thumbnail:scene.Scene.thumbnail" alt="No image">
                  </div>
                </td>

                <td>
                  <div class="d-flex justify-content-center"><b>{{scene?.topVzotScore}}</b></div>
                </td>

                <td>
                  <div class="btn-group scene_dropdowns">
                    <div #myDropdown ngbDropdown class="dropdown">
                      <button type="button" class="btn btn-rounded h_40 " id="dropdownBasic1" (click)="toggleDropdown()"
                        ngbDropdownToggle>
                        <div *ngIf="this.tableListingData[i]?.Scene?.taggingStatusValue"
                          [ngClass]="this.tableListingData[i].Scene.taggingStatusColor">
                          {{this.tableListingData[i].Scene.taggingStatusValue}}
                        </div>
                        <div *ngIf="this.tableListingData[i].taggingStatusValue"
                          [ngClass]="this.tableListingData[i].taggingStatusColor">
                          {{this.tableListingData[i].taggingStatusValue}}
                        </div>
                        <i class="bi bi-caret-down-fill"></i>
                      </button>
                      <div ngbDropdownMenu (click)="closeDropdown()" aria-labelledby="dropdownBasic1">
                        <a *ngFor="let status of taggingStatuses.slice(0,3); let i=index" ngbDropdownItem class={{status.class}}
                          (click)="updateTaggingStatus(scene ,status.id)">
                          {{status.title}}
                        </a>
                      </div>
                    </div>
                  </div>

                </td>
                <td *ngIf="scene?.Scene?.Show?.Series?.title">{{ scene?.Scene?.Show?.Series?.title}}</td>
                <td *ngIf="scene?.Show?.Series?.title && scene?.Show?.videoTypeId == 2">{{ scene?.Show?.Series?.title}}
                </td>
                <td *ngIf="scene?.Show?.videoTypeId == 3">{{ scene?.Show?.title}}</td>

                <td class="text-center" *ngIf="scene?.Scene?.Show?.seasonNo">{{scene?.Scene?.Show?.seasonNo}}
                </td>
                <td class="text-center" *ngIf="scene?.Show?.seasonNo && scene?.Show?.videoTypeId == 2">
                  {{scene?.Show?.seasonNo}}</td>
                <td class="text-center" *ngIf="scene?.Show?.videoTypeId == 3">{{ "-"}}</td>

                <td class="text-center" *ngIf="scene?.Scene?.Show?.episodeNo">
                  {{scene.Scene.Show.episodeNo}}
                </td>
                <td class="text-center" *ngIf="scene?.Show?.episodeNo && scene?.Show?.videoTypeId == 2">
                  {{scene.Show.episodeNo }}
                </td>
                <td class="text-center" *ngIf="scene?.Show?.videoTypeId == 3">
                  {{"-"}}
                </td>
                <td class="text-center">
                  {{scene?.relativeSceneNo??scene?.Scene?.relativeSceneNo}}
                </td>
              </tr>
            </ng-template>
          </tbody>
          <!-- <tbody *ngIf="!tableListingData || tableListingData.length===0">
              <tr class="no_results">
             <td colspan="12">  No Result Found</td>
              </tr>
          </tbody> -->
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-center">
      <div class="align-items-center d-flex dataTables_info" id="tickets-table_info" role="status" aria-live="polite">
        <label>
          Row per page
        </label>
        <div class="dataTables_length" id="tickets-table_length">
          <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
            [(ngModel)]="pagination.limit" (change)="getTaggerSceneListing()" class="form-control mx-2">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
        </div>
      </div>
      <ngb-pagination class="goto-pagination" (pageChange)="onPageChange($event)" [collectionSize]="totalCount"
        [(page)]="pagination.pageNo" [pageSize]="pagination.limit" [maxSize]="5" [rotate]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="mb-3 d-flex flex-nowrap px-2">
              <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Go
                to</label>
              <input #i type="text" inputmode="numeric" pattern="[1-9]*" class="form-control custom-pages-input"
                id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)"
                (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 3.5rem" />
              <!-- <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{pages.length}}</span> -->
            </div>
          </li>
        </ng-template>
      </ngb-pagination>
      <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="totalCount" [(page)]="pagination.pageNo"
        [pageSize]="pagination.limit" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>
</div>